{% extends "main/base.html" %}
{% load django_bootstrap5 %}

{% block content %}

  <style>p {text-align: justify;}</style>

  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-{{ bokeh_version }}.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-{{ bokeh_version }}.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-{{ bokeh_version }}.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-{{ bokeh_version }}.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-{{ bokeh_version }}.min.js"></script>


  {% block create %}
  {% endblock create %}

  <br>

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% if perms.main.create_funding %}
      {% if user.is_superuser %}
        <div class="text-center">{% bootstrap_button button_type="submit" content="Save" %}</div>
      {% endif %}
    </form>

  {% endblock content %}
    {% if perms.main.create_project %}
      <div class="text-center">{% bootstrap_button button_type="submit" content="Save" %}</div>
    {% endif %}
  </form>

{% endblock content %}
