{% extends "main/base.html" %}

{% block content %}

  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-{{ bokeh_version }}.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-{{ bokeh_version }}.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-{{ bokeh_version }}.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-{{ bokeh_version }}.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-{{ bokeh_version }}.min.js"></script>

  <h2>Capacity planning</h2>

  <br>

  <div class="container-fluid">
    <h6>Description</h6>
    This page assists with capacity planning for future project work. The plot,
    '<i>Project effort and team capacity over time</i>', shows four traces: aggregated
    team capacity and three traces showing project effort for <i>Active</i>, <i>Confirmed</i>
    and <i>Tentative</i> projects.
  </div>

  <br>

  {{ script | safe }}
  {{ div | safe }}

{% endblock content %}
