{% extends "main/base.html" %}
{% load django_bootstrap5 %}
{% load django_tables2 %}
{% block content %}
  <h2>{{ funding_name }}</h2>
  <div class="d-flex gap-2">
    {% if perms.main.change_funding %}
      <a class="btn btn-primary"
         href="{% url 'main:funding_update' funding.pk %}">Update Funding</a>
    {% endif %}
    <a href="{% url 'main:funding' %}" class="btn btn-secondary">All Funding</a>
  </div>

  <!-- Object details -->
  <div class="row">
    <div class="col">
      <p>&nbsp;</p>
      {% bootstrap_form form layout='horizontal' %}
    </div>
  </div>
  <!-- Monthly charges table -->
  <div class="row mb-4">
    <div class="col">{% render_table monthly_charges_table %}</div>
  </div>
{% endblock content %}
