{% extends "main/base.html" %}
{% load django_bootstrap5 %}
{% load django_tables2 %}
{% block content %}
  <h2>{{ funding_name }}</h2>
  <!-- Object details -->
  <div class="row">
    <div class="col">
      <p>&nbsp;</p>
      {% bootstrap_form form layout='horizontal' %}
    </div>
  </div>
  <!-- Monthly charges table -->
  {% if monthly_charges_table %}
    <div class="row mb-4">
      <div class="col">{% render_table monthly_charges_table %}</div>
    </div>
  {% else %}
    <p>No charges found for this funding.</p>
  {% endif %}
{% endblock content %}
