<!--Navbar-->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'main:projects' %}">
      <h1>ProCAT</h1>
    </a>
    <ul class="navbar-nav me-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:funding' %}">Funding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:capacities' %}">Capacities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:capacity_planning' %}">Capacity planning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'main:cost_recovery' %}">Cost recovery</a>
        </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
        <!-- We welcome the user and include a few useful links -->
        <li class="nav-item">
          <a class="nav-link">Welcome: {{ user.username }}</a>
        </li>
        {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin site</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <form method="post" action="{% url 'oidc_logout' %}">
            {% csrf_token %}
            <input class="nav-link logout-button" type="submit" value="Logout" />
          </form>
        </li>
      {% else %}
        <!-- Otherwise we just show options to login -->
        <li>
          <a class="nav-link" href="{% url 'oidc_authentication_init' %}">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
