{% extends "main/base.html" %}
{% load django_bootstrap5 %}
{% load django_tables2 %}
{% block content %}
  <h2>{{ project_name }}</h2>
  {% if perms.main.create_project %}
    <a class="btn btn-primary" href="{{ request.path }}update">✎ Update Project</a>
  {% endif %}
  <!-- Object details -->
  <div class="row">
    <div class="col">
      <p>&nbsp;</p>
      {% bootstrap_form form layout='horizontal' %}
    </div>
  </div>
  <h2>Project Phase</h2>
  {% if perms.main.create_project_phase %}
    <a class="btn btn-primary" href="{% url 'main:project_phase_create' %}">+ Create Project Phase</a>
  {% endif %}
  <!-- Funding table -->
  <h2>Project Phases:</h2>
  {% render_table phase_table %}
  <h2>Funding sources:</h2>
  <div class="text-start">
    <a href="{% url 'main:funding_create' %}" class="btn btn-primary">Create Funding</a>
  </div>
  {% render_table funding_table %}
{% endblock content %}
