{% extends "main/base.html" %}
{% load django_bootstrap5 %}
{% load django_tables2 %}
{% load crispy_forms_tags %}
{% block content %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
           role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <h2>{{ project_name }}</h2>
  {% if perms.main.create_project %}
    <a class="btn btn-primary" href="{{ request.path }}update">✎ Update Project</a>
  {% endif %}
  <!-- Object details -->
  <div class="row">
    <div class="col">
      <p>&nbsp;</p>
      {% bootstrap_form form layout='horizontal' %}
    </div>
  </div>
  <!-- Phases table -->
  <h2>Project Phases:</h2>
  {% if perms.main.change_project_phase %}
    <form method="post">
      {% csrf_token %}
      {{ phase_form.management_form }}
      {{ phase_form.non_form_errors }}
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Start date</th>
              <th scope="col">End date</th>
              <th scope="col">FTE value</th>
              {% if perms.main.delete_project_phase %}
                <th scope="col">Delete</th>
              {% endif %}
            </tr>
          </thead>
          <tbody data-phase-form-rows>
            {% for phase in phase_form %}
              <tr>
                {% for hidden_field in phase.hidden_fields %}
                  {{ hidden_field }}
                {% endfor %}
                <td>{{ phase.start_date|as_crispy_field }}</td>
                <td>{{ phase.end_date|as_crispy_field }}</td>
                <td>{{ phase.value|as_crispy_field }}</td>
                {% if perms.main.delete_project_phase %}
                  <td>{{ phase.DELETE|as_crispy_field }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% bootstrap_button button_type="submit" button_class="btn btn-primary" content="Save Project Phases" %}
    </form>
  {% endif %}
  {% if perms.main.create_project_phase %}

    <form method="post" action="{% url 'main:project_default_phase_create' %}">
      {% csrf_token %}
      <input type="text" name="project_name" value="{{ project_name }}" hidden>
      <a class="btn btn-primary" href="{% url 'main:project_phase_create' %}">+ Create Project Phase</a>
      {% bootstrap_button button_type="submit" button_class="btn btn-secondary" content="+ Create Default Phase" %}
    </form>
  {% endif %}
  <!-- Funding table -->
  <h2>Funding sources:</h2>
  <div class="text-start">
    <a href="{% url 'main:funding_create' %}" class="btn btn-primary">+ Create Funding</a>
  </div>
  {% render_table funding_table %}
{% endblock content %}
